*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}  

body{
    background-color: rgb(38, 37, 37);
    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 